[submodule "FoolsEngine/externals/spdlog"]
	path = FoolsEngine/externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FoolsEngine/externals/glfw"]
	path = FoolsEngine/externals/glfw
	url = https://github.com/glfw/glfw
[submodule "FoolsEngine/externals/imgui"]
	path = FoolsEngine/externals/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "FoolsEngine/externals/glm"]
	path = FoolsEngine/externals/glm
	url = https://github.com/g-truc/glm
